#box:hover {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1), 0 16px 30px 0 rgba(0, 0, 0, 0.03), 0 6px 16px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease;
    border: 1px solid transparent;
}

#box {
    border: 1px solid #e8ecf1;
    /* padding: 30px; */
    cursor: pointer;
    transition: all 0.5s ease;
}